
*{
    background-color: orange;
 } 
 #addToCart{
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
 }
#addToCart:hover{
  background-color: red;
  color: white;
  
}
  .coffeeImage{
    display: flex;
    justify-content: stretch;
    align-items: left;
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color:"";
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
.ingredient{
  color: red;
}
 .order-menu{
   color: orange;
   text-decoration-color:red ;
   background-color: rgb(220, 18, 18);
   width: 500px;
   height: 400px;
   text-align: left;
 }

 #addToCart{
  height: 20px;
  width: 70px;
 }
 #quantity{
  height: 10px;
  width: 30px;
  
 } 

 #logo{
  width: 100px;
  height: 50px;
 }
 #order_menu{
  margin: 0;
  padding: 0;
 }


 .cart {
  float: left;
  width: 200px;
  height: auto;
  background-color:yellowgreen ;
  border: 1px solid #ccc;
  margin: 20px auto;
  padding: 10px;
  font-size: 10px;
}